.p-menubar.p-component {
  background-color: transparent;
  color: black;
  border-color: #07c475;
  font-size: 1vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 0.5rem;
  -ms-flex-item-align: end;
}
.form-group {
  display: flex;
  flex-direction: column;
}
div#pr_id_2 {
  background-color: white;
  height: 80%;
}

div#pr_id_2 label {
  font-family: Arial, Helvetica, sans-serif;

  color: black;
  font-weight: 600;
}
img.rounded-circle {
  height: 12vh;
}
.logo-modales {
  
  margin-left: 5vw;
}
div.login-register{
text-align: center;
}
div.logo-fb-google{
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-left: 25%;
}
img.fb{
  width: 3vw;
}
img.google{
  width: 3vw;
}

.p-dialog-content {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}
body .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
  padding: 0.3em 0.857em;
}
body .p-menubar .p-menuitem-link .p-menuitem-text {
  color: rgb(255, 255, 255);
}
body .p-dialog .p-dialog-titlebar {
  border: 2px solid #0bb971;
  background-color: #0bb971;
}
.p-dialog-header{
  margin-right: 1vw;
}
.p-dialog-titlebar {
  text-align: center;
  background-color: dodgerblue;
}
.p-dialog-content {
  display: flex;
  justify-content: center;
  align-self: center;
}
.Registro-label {
  color: rgb(27, 18, 18);
  font-family: cursive;
  font-size: 0.8vw;
}
span.p-calendar.col-12.p-calendar-w-btn {
  padding-left: 0;
}

.Registro-label-check {
  padding-left: 1vw;
  padding-right: 2vw;
}
.p-datepicker.p-component.p-input-overlay.p-shadow.p-input-overlay-visible {
  height: 50vh;
  margin-top: 20vh;
}
.Boton-registro {
  background-color: transparent !important ;
  color: #000000;
  font-family: cursive;
  font-size: 1vw;
  height: 5.5vh;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 3vh;
  width: 15vw;
}
span#pr_id_2_header {
  font-size: 1.5vw;
}
div#pr_id_2 {
  height: 40%;
}
div#pr_id_2.p-dialog.p-component.p-dialog-enter-done{
  height: 80% !important;
  width: 25% !important;
}
.col-12 {
  font-size: 1vw;
}

.col-12 h2 {
  text-align: center;
  font-weight: 800;
}
label.p-radiobutton-label {
  font-size: 1vw;
}
