.footer-container {
  background-color: black;
  margin-top: 10%;
}
.footer-container {
}
.footer-columns {
  display: flex;
}
.logo-buho {
  margin-left: 4vw;
  margin-top: 5vh;
  width: 50%;
}
.footer-column-One {
  float: left;
  margin-left: 10vw;
  margin-top: 5vh;
}
.footer-column-Two {
  float: left;
  margin-left: 10vw;
  margin-top: 5vh;
}
ul.footer-ul li a {
  color: white;
  font-family: ink free;

  text-decoration: none;
}
ul.footer-ul li {
  list-style: none;
}
