.header-container {
  display: flex;
  padding: 1rem;
}

.logo-buho-header {
  width: 3vw;
  margin-top: 0;
}

div#basic-navbar-nav a {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 25px;
}

.container-acceso {
  display: flex;
  align-items: flex-end;
  left: 25%;
}

form.form-inline {
  margin-right: 15vw;
}

button.btn.btn-outline-success {
  margin-right: 3vw;
}

nav.navbar.navbar-expand-lg.navbar-light {
  background: black;
  font-family: Arial, Helvetica, sans-serif;
}
a#basic-nav-dropdown {
  margin-left: 0.5vw;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.9);
  font-family: ink free;
  font-size: 1vw;
}
input.mr-sm-2.form-control {
  font-family: ink free;
}
.NavDropdown.Item {
  color: white;
  font-family: ink free;
  font-size: 1vw;
  margin-left: 2vw;
}
.btn-outline-success {
  color: #ffffff;
  border-color: #07c475;
  font-family: ink free;
  font-size: 1vw;
}
