.container-categoria {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0 auto;
}
.p-grid {
  display: flex;
  /* margin-right: 3rem; */
  /* margin-left: 3rem; */
  /* margin-top: 3rem; */
  align-items: center;
  width: 80%;
  justify-content: center;
  margin: 0 auto;
}
