.principal-container {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.principal-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.principal-imagen {
  margin-right: 5vw;
  margin-left: 5vw;
  float: left;
}

.imagen-estudiantes-principal {
  width: 50vw;
  box-shadow: 10px 10px 7px rgba(15, 141, 120, 0.2);
  -moz-box-shadow: 10px 10px 7px rgba(15, 141, 120, 0.2);
  -webkit-box-shadow: 10px 10px 7px rgba(15, 141, 120, 0.2);
}
.principal-postit {
  width: 100%;
  height: 100%;
  float: right;
}
.principal-imagen-postit-uno {
  width: 31vw;
  margin-left: 2vw;
  position: absolute;
  margin-top: 5vh;
}
.principal-imagen-postit-dos {
  width: 25vw;
  margin-top: 5vh;
  margin-right: 6vw;
  position: relative;
}
.titulo-postit-inicio {
  margin-top: 20vh;
  margin-right: 4vw;
  margin-left: 4vw;
  position: relative;
  z-index: 15;
  color: #232526;
  font-size: 2.4vw;
  transform: rotate(-6deg);
}
