.registro-dialog {
  background-color: #ffffff;
  width: 80%;
}
.p-dialog-header {
  width: 21vw;
  background-color: white;
  position: absolute;
  margin-bottom: 1vh;
  z-index: 1;
 }
.registro-container {

  justify-content: center;
  align-items: center;
  color: black;
}

.logo-modales {
  margin-left: 40%;
  margin-top: 2vh;
}


.registro-container label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  color: black;
  font-weight: 600;
}

.user-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.user-name input {
  width: 50%;
  border: 2px solid grey;
  border-radius: 13px;
}

.register-user-type {
  display: flex;
  align-items: center;
  align-content: center;
  margin-bottom: 10px;
  justify-content: space-between;
  width: 70%;
}


label.registro-label {
  margin-top: 5vh;
}

.register-user-type input {
  width: 100px;
  height: 35px;
  border: 2px solid grey;
  border-radius: 13px;
}
input.radioB-doc{
  width: 2vw;
}

.register-doc-type {
  display: flex;
  justify-content: space-between;
  margin-left: 2.1vw;
  align-items: center;
  width: 70%;
}

.register-identification-type {
  display: flex;
  align-items: center;
  align-content: center;
  margin-bottom: 40px;
}

input {
  width: 400px;
  height: 50px;
  border: 2px solid grey;
  border-radius: 13px;
  height: 3vh;
  width: 80%;
}

select {
  width: 400px;
  height: 50px;
  border: 2px solid grey;
  border-radius: 13px;
  background: #fff;
}

option {
  font-family: ink free;
  font-size: 0.8rem;
  font-weight: 600;
}

button.register-button {
  height: 50px;
  width: 50%;
  background: transparent;
  border: 2px solid rgb(255, 102, 1);
  border-radius: 6px;
  margin: 28px;
  color: rgb(0, 0, 0);
  font-size: 1.5em;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1px;
  margin-left: 7vw;
}

label.p-radiobutton-label{
  font-size: 0.6rem;
}

select{
  height: 3vh;
  width: 80%;
}
form#registro {
  margin-left: 20%;
}