.curso-categoria {
  width: 100%;
  justify-content: center;
  height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  align-content: center;
}

.row-reverse {
  flex-direction: row-reverse;
}

.MuiGrid-spacing-xs-2 {
  margin: 0 auto !important;
  width: 100% !important;
}

@media screen and (max-width: 450px) {
  .title-container h1 {
    font-size: 2.5em !important;
  }
  .MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-2 {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 450px) and (max-width: 750px) {
  .title-container h1 {
    font-size: 4.5em !important;
  }
}
